<div>
    <h1>{{this.name}}</h1>
    <h2>Capital:{{this.capital}}</h2>
    <h2>Population:{{this.population}}</h2>
    <h2>Languages:</h2>
    <ul>
        {{#each languages}}
        <li>{{this.name}}</li>
        {{/each}}
    </ul>

    <div>
        <img src="{{this.flag}}" alt="{{this.name}}" width="400">
    </div>
</div>